

<div class="disp-flex just-center align-items-center cont" *ngIf="pictures.length === 0; else picturesOK">
  <mat-spinner></mat-spinner>
</div>


<ng-template #picturesOK>
  

<div class="wrapp-intro center">

  <div class="text-day">
    <app-text-intro [title] ="title" [longText]="longText"></app-text-intro>
  </div>

  <span class="spacer"></span>

    <button class="btn-reset" mat-raised-button color="accent" (click)="resetPictures()">Reset <mat-icon mat-list-icon>
      restart_alt
    </mat-icon></button>
  </div>


<mat-divider class="p-10"></mat-divider>



<!-- images--------------------------- -->

  <section class="container wrapp-intro">
    <div class="grid">
      <div class="masonry-entry shadow rounded"  
            *ngFor="let picture of pictures"
            (click)="getPicture(picture)">
        <img
          [src]="picture.url"
          onerror="this.src='../../../../assets/images/placeholder.jpg'"
        />

        <h4>{{ picture.title }}</h4>
      </div>
    </div>
  </section>

  
</ng-template> 
