
.cont{
  height: 90vh;
}

.intro{
  padding:50px;
  margin:10px auto;
  max-width: 1200px;
  justify-content: space-between;
}

.px-20{
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  max-width: 1200px;
  margin:50px auto;
}
.grid {
  position: relative;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;
  height: 100%;
  cursor:pointer;
}

.masonry-entry {
  width: 100%;
  height: auto;
  display: inline-block;
  margin: 0.5rem auto;
  img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0px 0;
  }
  h4 {
    padding:10px
  }
}



@media (max-width: 991.98px) {
  .grid {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 767.98px) {
  .grid {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

