
<div class="wrapp-intro center">
  <div class="text-day">
    <app-text-intro [title]="title" [longText]="longText"></app-text-intro>

  </div>

  <span class="spacer"></span>

  <div  class="search-date rounded">
    
      <mat-form-field color="primary" appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input  matInput [matDatepicker]="picker"
                [(ngModel)]="fecha"
                name="picker"
                matInput 
                [min]="minDate"
                [max]="maxDate"
                (dateChange)="filterFrom()" 
                required>
        <mat-error *ngIf="!fecha">Use datepicker to choose a date please</mat-error>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle style="background: inherit;" matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

  </div>
  
</div>
<mat-divider></mat-divider>

<div *ngIf="fechaSended">
  <app-big-image></app-big-image>
</div>






