
<mat-sidenav-container fullscreen [hasBackdrop]="false">

  <mat-sidenav #sidenav mode="push"> 

    <!-- sidebar -->
    <mat-toolbar color="primary" class="navBar">
      <!-- <span>Menu</span> -->
      <span class="spacer"></span>
      <button mat-icon-button 
              class="example-icon" 
              aria-label="Example icon-button with menu icon"
              (click)="sidenav.toggle()">
        <mat-icon>
          arrow_back_ios
          </mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>

      <!-- list -->
      <a *ngFor="let link of links" mat-list-item
          (click)="sidenav.toggle()"
          routerLink="{{link.link}}">
        <span class="p-2">{{link.nameLink}}</span>
      </a>

      
    </mat-nav-list>
  </mat-sidenav> 

  
  <!-- content -->
  <mat-toolbar class="navBar">
    <button mat-icon-button 
            class="example-icon" 
            aria-label="Example icon-button with menu icon"
            (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="go-home" routerLink="/home">BRD Universe</span>
    <span class="spacer"></span>
    <!-- dark mode -->
    <button mat-icon-button 
            class="example-icon favorite-icon" 
            aria-label="Example icon-button with heart icon"
            (click)="onSetTheme('my-darktheme')">
      <mat-icon>dark_mode</mat-icon>
    </button> 

    <button mat-icon-button 
            class="example-icon favorite-icon" 
            aria-label="Example icon-button with heart icon"
            (click)="onSetTheme('my-lighttheme')">
      <mat-icon>light_mode</mat-icon>
    </button> 
<!-- 
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
  
  <router-outlet></router-outlet>

</mat-sidenav-container>



