.spinner-wrapp{
  height: 90vh;;
}

.max-w-700{
  max-width: 700px;
}

.max-w-960{
  max-width: 960px;
}

.card {
  margin:auto;
  width:auto;
  padding:3%;


    img{
      width: auto;
      object-fit:contain;
    }

    .content {
      margin-top:30px;
      .date{
        margin-top:20px;
      }
    }

    button {
      padding-left:50px ;
      padding-right:50px ;
      padding-top:10px;
      padding-bottom: 10px;
    }
}
