

header{
  background-color: black;
}

.wrapp-header{
  min-height: 92vh;
  background-position:right;
  background-image: url(https://apod.nasa.gov/apod/image/2201/JupiterOpal_HubbleMasztalerz_960.jpg);
  background-repeat: no-repeat;
  background-size:contain;
}

.content-header{
  padding:100px 50px 50px 50px;



  h2{
    color:white;
    font-family: 'Electrolize';
    font-size: 2.5rem;
    line-height: 1.5;
  }
  p{
    color:rgba(255, 255, 255, 0.718);
    margin-top:50px;
  }

  button{
    border: 1px solid rgba(81, 81, 81, 0.561);

  }

}




@media (min-width:900px){
  .content-header{
    width:40%;
  }
}



@media (max-width:900px){
  .wrapp-header{
    background-position:bottom;
  }
  .content-header{
    padding: 50px 20px 20px 20px;
  }

  .wrapp-header{
    width:100%;
    height: 1000px;
    background-image: url(https://apod.nasa.gov/apod/image/2201/JupiterOpal_HubbleMasztalerz_960.jpg);
    background-position:bottom;

  }
}



