
@use "styles/lightTheme";
@use "styles/darkTheme";


//color themes 

$light-primary:#FFCC80;
$light-accent:#880E4F;
$light-warn:#D32F2F;

//dark
$dark-primary:#0288D1;
$dark-accent:#4DD0E1;


.bg-orange{
  background-color: $light-primary;
}
.bg-blue{
  background-color: //dark
  $dark-primary;
}


.color-lightprimary-transp{
  color: $light-primary;

}

.color-darkprimary-transp{
  color:$dark-primary;
}


.border-light-primary{
  border:1px solid  $light-primary;
}

.border-dark-primary{
  border:1px solid $dark-primary;
}



// /////////////////////////////////////typography


// $my-custom-level: mat.define-typography-level(
//   $font-family: Rubik,
//   $font-weight: 400,
//   $font-size: 2rem,
//   $line-height: 1,
//   $letter-spacing: normal,
// );

// $my-custom-typography: mat.define-typography-config($font-family:'Rubik',
// $body-1:  mat.define-typography-level(1rem, 1.5, 400),
// );
// // 

// @include mat.core($my-custom-typography);


// $myapp-typography: mat.define-typography-config($font-family: 'Rubik');
// @include mat.core($myapp-typography);

///////////////////////////////////////////// my themes




html, body { height: 100%;}
body { margin: 0; }

.spacer {
  flex: 1 1 auto;
}

.vh-100{
  height: 100vh;
}

.my-wrapper{
  width:90%;
  max-width:1500px;
}

.disp-flex{
  display: flex;
}


.dir-column{
  flex-direction: column;
}

.just-center{
  justify-content: center;
}

.just-space-bet {
  justify-content: space-between;
}

.align-items-center{
  align-items: center;
}



.spacer{
  flex:1 1 auto;
}

.rounded {
  border-radius: 5px;
}

.shadow{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


// /////////////////////////////tipography

.title-m{
  font-family: 'Electrolize', sans-serif;
}

.text-center{
  text-align: center;
}

.p-2 {
  padding:20px;
}

.p-5 {
  padding:50px;
}

.center {
  margin-left:auto;
  margin-right:auto;
}

/////////////////

.container-max{
  max-width: 1200px;
  padding:2%;
}

.text-card{
  margin-bottom: 50px;
}




@media only screen and (min-width: 872px) {
  .container-max{
    display: flex;
  }

  .text-card{
    width: 45%;
  }
}



//////////////////////////////////// intro pictures
/// 
/// 

.wrapp-intro{
  padding:3%;
  max-width: 1200px;
}


.text-day{
  margin-top:50px;
  margin-bottom:50px;
}


.search-date,
.btn-reset{
  margin-bottom: 50px;
}


// desktop

@media (min-width: 700px){
  
  .wrapp-intro{
    display: flex;
    align-items: center;
  }
  
  .text-day{
    margin-right:50px;
    margin: 20px 50px 0 0px;
  }

  .search-date {
    margin-bottom:0px;
  }

}
